extends layout

block content
    .container-fluid
      .row
        .col-2
        .col-8
          ul.list-group
            each item in itemCart
              .list-group-item.list-group-item-action.d-flex.justify-content-between.align-items-center
                .flex-column
                  h4 #{item.itemName}
                  p $#{item.price}
                  if item.inStock
                    span.badge.badge-info.badge-pill  In stock
                  else 
                    span.badge.badge-info.badge-pill  Out of stock
                  form(action='/users/' + userId + '/item/' + item._id, method='POST' onchange='alert("hi")')
                    label(for='quantity')
                        | Quantity:
                        select(name='quantity')
                          - for(let i = 1; i <= item.stock; i++)
                            if i === item.quantityToBuy
                              option.form-control(value=i selected) #{i}
                            else 
                              option.form-control(value=i) #{i}
                            
                .image-parent
                  img.img-thumbnail.resize(src='' + item.itemImageURL, alt='' + item.itemName)
        .col-2
        script.
          let itemCart = JSON.parse('!{JSON.stringify(itemCart)}');
          alert(itemCart)
    footer.pt-5.footer.mx-3
      hr
      p 	&copy; Edwin Shen